<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dozenx.web.core.auth.sysUserDepart.dao.SysUserDepartMapper">
  <resultMap id="BaseResultMap" type="com.dozenx.web.core.auth.sysUserDepart.bean.SysUserDepart">

      <result column="user_id" jdbcType="BIGINT" property="userId" />
      <result column="departId" jdbcType="BIGINT" property="departId" />
  </resultMap>
  <sql id="Base_Column_List">
  sys_user_depart.`user_id` ,sys_user_depart.`departId`
  </sql>

   <delete id="deleteExtra" parameterType="map">
          delete from sys_user_depart
          where departId in
          <foreach collection="departIds" item="item" index="index"
                   open="(" separator="," close=")"> #{item}</foreach>
         <if test="userIds != null and id != '' " >
          and userId not in
          <foreach collection="userIds" item="item" index="index"
                   open="(" separator="," close=")"> #{item}</foreach>
       </if>
      </delete>
 <insert id="insert" useGeneratedKeys="true" keyProperty="id"   parameterType="com.dozenx.web.core.auth.sysUserDepart.bean.SysUserDepart" >

    insert into sys_user_depart (  <include refid="Base_Column_List" />)
    values (
#{id,jdbcType=BIGINT}
,#{userId,jdbcType=BIGINT}
,#{departId,jdbcType=BIGINT}
    )
  </insert>
   <insert id="insertSelective" parameterType="com.dozenx.web.core.auth.sysUserDepart.bean.SysUserDepart" >
    insert into sys_user_depart
    <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >  
           `id`, 
        </if>  
        <if test="userId != null" >  
           `userId`, 
        </if>  
        <if test="departId != null" >  
           `departId`, 
        </if>  
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >  
          #{id,jdbcType=BIGINT},
        </if>  
        <if test="userId != null" >  
          #{userId,jdbcType=BIGINT},
        </if>  
        <if test="departId != null" >  
          #{departId,jdbcType=BIGINT},
        </if>  
    </trim>
  </insert>
  <select id="listByParams" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user_depart where 1=1
        <if test="id != null and id != '' ">  
           and `id` = #{id}
        </if>  
        <if test="userId != null and userId != '' ">  
           and `userId` = #{userId}
        </if>  
        <if test="departId != null and departId != '' ">  
           and `departId` = #{departId}
        </if>  
  </select>
   <select id="listByParams4Page" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user_depart

    where 1=1
        <if test="id != null and id != '' ">  
           and sys_user_depart.`id` = #{id}
        </if>  
        <if test="userId != null and userId != '' ">  
           and sys_user_depart.`user_id` = #{userId}
        </if>  
        <if test="departId != null and departId != '' ">  
           and sys_user_depart.`departId` = #{departId}
        </if>  
  </select>
   <select id="countByParams" parameterType="map" resultType="java.lang.Integer">
    select 
    count(1) 
    from sys_user_depart where 1=1
        <if test="id != null and id != '' ">  
           and sys_user_depart.`id` = #{id}
        </if>  
        <if test="userId != null and userId != '' ">  
           and sys_user_depart.`user_id` = #{userId}
        </if>  
        <if test="departId != null and departId != '' ">  
           and sys_user_depart.`departId` = #{departId}
        </if>  
  </select>
 <select id="countByOrParams" parameterType="map" resultType="java.lang.Integer">
    select
    count(1)
    from sys_user_depart where 1!=1
        <if test="id != null and id != '' ">
           or `id` = #{id}
        </if>
        <if test="userId != null and userId != '' ">
           or `user_id` = #{userId}
        </if>
        <if test="departId != null and departId != '' ">
           or `departId` = #{departId}
        </if>
  </select>
</mapper>
