settings/
*.classes
.myeclipse/
.classpath
.project
*.bak
.springBeans
*.log
*.jar
*.class
worl/*_jsp.java
work/*.java
work
.tomcatplugin
src/main/webapp/WEB-INF/classes/
.classpath
src/main/webapp/static/vc
/target/
/temp/
.idea
.idea/*
webpack/app/module/*
webpack/platform_js/module/*
calendar.iml
src/main/resources/properties/jdbc.properties
src/main/resources/config.cfg
src/main/webapp/kaqmimage/
src\main\webapp\static\upload
src/main/webapp/static/upload/*
src/main/webapp/static/jsx/node_modules/*
src/main/webapp/static/jsx/*
src/main/webapp/upload/
protalEditor/gulp/nodemodules/*
portalEditor/gulp/node_modules/*
gulp/*
src/main/webapp/images/*
src/main/webapp/html/*
webpack/node_modules/*
webpack/npm-debug.log*
*.tsd
platform_js/.svn/*
platform_js/.svn/wc.db
*.rar
platform_js/.svn/