<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dozenx.web.module.interfaceapi.interfaceinfo.dao.InterfaceInfoMapper">
    <resultMap id="InterfaceMap" type="com.dozenx.web.module.interfaceapi.interfaceinfo.pojo.InterfaceInfo">
            <result column="id" property="id" jdbcType="INTEGER"></result>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
            <result column="project_name" property="projectName" jdbcType="VARCHAR"></result>
            <result column="module_name" property="moduleName" jdbcType="VARCHAR"></result>
            <result column="url" property="url" jdbcType="VARCHAR"></result>
            <result column="http_type" property="httpType" jdbcType="VARCHAR"></result>
            <result column="content_type" property="contentType" jdbcType="VARCHAR"></result>
            <result column="interface_id" property="interfaceId" jdbcType="VARCHAR"></result>
            <result column="interface_name" property="interfaceName" jdbcType="VARCHAR"></result>
            <result column="interface_detail" property="interfaceDetail" jdbcType="VARCHAR"></result>
            <result column="image_url" property="imageUrl" jdbcType="VARCHAR"></result>
            <result column="version" property="version" jdbcType="VARCHAR"></result>
            <result column="module_id" property="moduleId" jdbcType="INTEGER"></result>
            <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
            <result column="history_flag" property="historyFlag" jdbcType="INTEGER" />
            <result column="splicing" property="splicing" jdbcType="INTEGER" />
        <result column="domain" property="domain" jdbcType="VARCHAR" />
        <result column="author" property="author" jdbcType="VARCHAR" />
    </resultMap>
    <!--    <resultMap id="ExampleMap" type="com.dozenx.web.module.interfaceapi.pojo.InterfaceExample"></resultMap>-->
    <!--    新增-->
    <sql id="Base_Column_List" >
        id, project_name, module_name, url, http_type, content_type, interface_id, interface_name,
        interface_detail, image_url, version, create_time,update_time, splicing, history_flag,domain,module_id
    </sql>
    <insert id="insertApi" parameterType="com.dozenx.web.module.interfaceapi.interfaceinfo.pojo.InterfaceInfo">
        insert into interface_api
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectName != null">project_name,</if>
            <if test="moduleName != null">module_name,</if>
            <if test="url != null">url,</if>
            <if test="httpType != null">http_type,</if>
            <if test="contentType != null">content_type,</if>
            <if test="interfaceName != null">interface_name,</if>
            <if test="interfaceId != null">interface_id,</if>
            <if test="interfaceDetail != null">interface_detail,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="version != null">version,</if>
            <if test="domain != null">domain,</if>
            <if test="author != null">author,</if>
            <if test="moduleId != null">module_Id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectName != null">#{projectName},</if>
            <if test="moduleName != null">#{moduleName},</if>
            <if test="url != null">#{url},</if>
            <if test="httpType != null">#{httpType},</if>
            <if test="contentType != null">#{contentType},</if>
            <if test="interfaceName != null">#{interfaceName},</if>
            <if test="interfaceId != null">#{interfaceId},</if>
            <if test="interfaceDetail != null">#{interfaceDetail},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="version != null">#{version},</if>
            <if test="domain != null">#{domain},</if>
            <if test="author != null">#{author},</if>
            <if test="moduleId != null">#{moduleId},</if>
        </trim>
    </insert>
<!--    <insert id="insertParams" parameterType="com.dozenx.web.module.interfaceapi.paramsTest.pojo.InterfaceParams">-->
<!--        insert into interface_params-->
<!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--            <if test="apiId != null">api_id,</if>-->
<!--            <if test="createTime != null">create_time,</if>-->
<!--            <if test="interfaceId != null">interface_id,</if>-->
<!--            <if test="paramName != null">param_name,</if>-->
<!--            <if test="paramType != null">param_type,</if>-->
<!--            <if test="paramComment != null">param_comment,</if>-->
<!--        </trim>-->
<!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--            <if test="apiId != null">#{apiId},</if>-->
<!--            <if test="createTime != null">#{createTime},</if>-->
<!--            <if test="interfaceId != null">#{interfaceId},</if>-->
<!--            <if test="paramName != null">#{paramName},</if>-->
<!--            <if test="paramType != null">#{paramType},</if>-->
<!--            <if test="paramComment != null">#{paramComment},</if>-->
<!--        </trim>-->
<!--    </insert>-->
    <!--    删除-->
    <delete id="deleteApi" parameterType="java.lang.Integer">
        <if test="id != null and id != ''">
            delete from interface_api where `id` = #{id}
        </if>
    </delete>
<!--    <delete id="deleteParamsById" parameterType="java.lang.Integer">-->
<!--        <if test="id != null and id != ''">-->
<!--            delete from interface_params where `id` = #{id}-->
<!--        </if>-->
<!--    </delete>-->
<!--    <delete id="deleteParams" parameterType="map">-->
<!--        delete from interface_params where 1=1-->

<!--            <if test="id != null and id != ''">-->
<!--               and `id` = #{id}-->
<!--            </if>-->
<!--            <if test="apiId != null and apiId != ''">-->
<!--               and `api_id` = #{apiId}-->
<!--            </if>-->
<!--            <if test="interfaceId != null and interfaceId != ''">-->
<!--               and `interface_id` = #{interfaceId}-->
<!--            </if>-->
<!--            <if test="paramName != null and paramName != ''">-->
<!--               and `param_name` = #{paramName}-->
<!--            </if>-->
<!--            <if test="paramType != null and paramType != ''">-->
<!--               and `param_type` = #{paramType}-->
<!--            </if>-->

<!--    </delete>-->
    <!--    修改-->
    <update id="updateApi" parameterType="com.dozenx.web.module.interfaceapi.interfaceinfo.pojo.InterfaceInfo">
        update interface_api
        <set>
            <if test="interfaceId != null">interface_id = #{interfaceId},</if>
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="moduleName != null">module_name = #{moduleName},</if>
            <if test="moduleId != null">module_id = #{moduleId},</if>
            <if test="url != null">url = #{url},</if>
            <if test="httpType != null">http_type = #{httpType},</if>
            <if test="contentType != null">content_type = #{contentType},</if>
            <if test="interfaceName != null">interface_name = #{interfaceName},</if>
            <if test="interfaceDetail != null">interface_detail = #{interfaceDetail},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="historyFlag != null">history_flag = #{historyFlag},</if>
            <if test="domain != null">domain = #{domain},</if>
            <if test="author != null">author = #{author},</if>
        </set>
        where id = #{id}
    </update>
<!--    <update id="updateParams" parameterType="com.dozenx.web.module.interfaceapi.paramsTest.pojo.InterfaceParams">-->
<!--        update interface_params-->
<!--        <set>-->
<!--            <if test="paramName != null">param_name = #{paramName},</if>-->
<!--            <if test="paramType != null">param_type = #{paramType},</if>-->
<!--            <if test="paramComment != null">param_comment = #{paramComment},</if>-->
<!--        </set>-->
<!--        where id = #{id}-->
<!--    </update>-->
    <!--    查询-->
    <select id="getApiByParams" parameterType="map" resultMap="InterfaceMap">
        select * from interface_api where 1=1
        <if test="id != null and id != ''"> and id = #{id} </if>
        <if test="projectName != null and projectName != ''"> and project_name = #{projectName} </if>
        <if test="projectNameLike != null and projectNameLike != ''"> and project_name like  CONCAT('%',#{projectNameLike},'%')  </if>
        <if test="moduleName != null and moduleName != ''"> and module_name = #{moduleName} </if>
        <if test="moduleId != null and moduleId != ''"> and module_id = #{moduleId} </if>
        <if test="moduleNameLike != null and moduleNameLike != ''"> and module_name like CONCAT('%',#{moduleNameLike},'%') </if>
        <if test="url != null and url != ''"> and url = #{url} </if>
        <if test="urlLike != null and urlLike != ''"> and url like CONCAT('%',#{urlLike},'%') </if>
        <if test="httpType != null and httpType != ''"> and http_type = #{httpType} </if>
        <if test="interfaceName != null and interfaceName != ''"> and interface_name = #{interfaceName} </if>
        <if test="interfaceNameLike != null and interfaceNameLike != ''"> and interface_name like CONCAT('%',#{interfaceNameLike},'%') </if>

        <if test="interfaceDetail != null and interfaceDetail != ''"> and interface_detail = #{interfaceDetail} </if>
        <if test="interfaceId != null and interfaceId != ''"> and interface_id = #{interfaceId} </if>
        <if test="contentType != null and contentType != ''"> and content_type = #{contentType} </if>
        <if test="imageUrl != null and imageUrl != ''"> and image_url = #{imageUrl} </if>
        <if test="version != null and version != ''"> and version = #{version} </if>
        <if test="author != null and author != ''"> and author = #{author} </if>
        <!-- 根据前台传来的页码来查询 -->
        <if test="nowPageNum != null and pageSize != null and pageSize > 0">
            limit #{nowPageNum},#{pageSize}
        </if>
    </select>


<!--    <select id="getParamsById" parameterType="java.lang.Integer" resultMap="ParamsMap">-->
<!--        select * from interface_params where 1=1-->
<!--        <if test="apiId != null and apiId != ''">-->
<!--            and api_id = #{apiId}-->
<!--        </if>-->
<!--    </select>-->
    <select id="getApiById" parameterType="java.lang.Integer" resultMap="InterfaceMap">
        select * from interface_api where 1=1
        <if test="id != null and id != ''">
            and `id` = #{id}
        </if>
<!--        select-->
<!--        <include refid="Base_Column_List" />-->
<!--        from interface_api-->
<!--        where id = #{id,jdbcType=INTEGER}-->
    </select>

<!--    测试用例项文杰-->
    <select id="selectAll" resultMap="InterfaceMap">
--         select * from interface_api
        select <include refid="Base_Column_List" />
        from interface_api
    </select>
    <!--    /**
*@Description:
* * @param null
*@return:
*@Author: 吴勤
*@date: 2019/11/19
*/-->
    <select id="selectByPrimaryKeyByparams" resultType="java.util.HashMap" parameterType="com.dozenx.web.module.interfaceapi.interfaceinfo.pojo.InterfaceInfo" >
        select
        <include refid="Base_Column_List" />
        from interface_api
        where interface_id = #{interfaceId,jdbcType=VARCHAR}
        and project_name = #{projectName,jdbcType=VARCHAR}
        and version = #{version,jdbcType=VARCHAR}
    </select>
    <insert id="insertSelective" parameterType="com.dozenx.web.module.interfaceapi.interfaceinfo.pojo.InterfaceInfo" >
        insert into interface_api
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="projectName != null" >
                project_name,
            </if>
            <if test="moduleName != null" >
                module_name,
            </if>
            <if test="moduleId != null" >
                module_id,
            </if>
            <if test="url != null" >
                url,
            </if>
            <if test="httpType != null" >
                http_type,
            </if>
            <if test="contentType != null" >
                content_type,
            </if>
            <if test="interfaceId != null" >
                interface_id,
            </if>
            <if test="interfaceName != null" >
                interface_name,
            </if>
            <if test="interfaceDetail != null" >
                interface_detail,
            </if>
            <if test="imageUrl != null" >
                image_url,
            </if>
            <if test="version != null" >
                version,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>

            update_time,

            <if test="splicing != null" >
                splicing,
            </if>
            <if test="historyFlag != null" >
                history_flag,
            </if>
            <if test="domain != null" >
                domain,
            </if>

            <if test="author != null" >
                author,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="projectName != null" >
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="moduleName != null" >
                #{moduleName,jdbcType=VARCHAR},
            </if>
            <if test="moduleId != null" >
                #{moduleId,jdbcType=INTEGER},
            </if>
            <if test="url != null" >
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="httpType != null" >
                #{httpType,jdbcType=VARCHAR},
            </if>
            <if test="contentType != null" >
                #{contentType,jdbcType=VARCHAR},
            </if>
            <if test="interfaceId != null" >
                #{interfaceId,jdbcType=VARCHAR},
            </if>
            <if test="interfaceName != null" >
                #{interfaceName,jdbcType=VARCHAR},
            </if>
            <if test="interfaceDetail != null" >
                #{interfaceDetail,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null" >
                #{imageUrl,jdbcType=VARCHAR},
            </if>
            <if test="version != null" >
                #{version,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            now(),
            <if test="splicing != null" >
                #{splicing,jdbcType=BIT},
            </if>
            <if test="historyFlag != null" >
                #{historyFlag,jdbcType=INTEGER},
            </if>
            <if test="domain != null" >
                #{domain,jdbcType=VARCHAR},
            </if>

            <if test="author != null" >
                #{author,jdbcType=VARCHAR},
            </if>
        </trim>
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dozenx.web.module.interfaceapi.interfaceinfo.pojo.InterfaceInfo" >
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update interface_api
        <set >
            <if test="projectName != null" >
                project_name = #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="moduleName != null" >
                module_name = #{moduleName,jdbcType=VARCHAR},
            </if>
            <if test="moduleId != null" >
                module_id = #{moduleId,jdbcType=INTEGER},
            </if>
            <if test="url != null" >
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="httpType != null" >
                http_type = #{httpType,jdbcType=VARCHAR},
            </if>
            <if test="contentType != null" >
                content_type = #{contentType,jdbcType=VARCHAR},
            </if>
            <if test="interfaceId != null" >
                interface_id = #{interfaceId,jdbcType=VARCHAR},
            </if>
            <if test="interfaceName != null" >
                interface_name = #{interfaceName,jdbcType=VARCHAR},
            </if>
            <if test="interfaceDetail != null" >
                interface_detail = #{interfaceDetail,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null" >
                image_url = #{imageUrl,jdbcType=VARCHAR},
            </if>
            <if test="version != null" >
                version = #{version,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>

            update_time = now()+1 ,
            <if test="splicing != null" >
                splicing = #{splicing,jdbcType=BIT},
            </if>
            <if test="historyFlag != null" >
                history_flag = #{historyFlag,jdbcType=INTEGER},
            </if>
            <if test="domain != null" >
                domain = #{domain,jdbcType=VARCHAR},
            </if>
            <if test="author != null" >
                author = #{author,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>