<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dozenx.web.module.interfaceapi.exampletest.dao.ExampleTestMapper">
    <resultMap id="ExampleTestMap" type="com.dozenx.web.module.interfaceapi.exampletest.pojo.ExampleTest">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="params" property="params"  jdbcType="VARCHAR"  />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"  />
        <result column="update_time" property="updateTime"  jdbcType="TIMESTAMP"   />
        <result column="api_id" property="apiId" jdbcType="INTEGER"   />
    </resultMap>

    <insert id="insert" parameterType="com.dozenx.web.module.interfaceapi.exampletest.pojo.ExampleTest">
        insert into interface_example_test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="apiId != null">api_id,</if>
            <if test="params != null">params,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="apiId != null">#{apiId},</if>
            <if test="params != null">#{params},</if>
        </trim>
    </insert>

    <select id="select" parameterType="map" resultMap="ExampleTestMap">
        select * from interface_example_test where 1 = 1
        <if test="id != null and id != ''"> and id = #{id} </if>
        <if test="apiId != null "> and api_id = #{apiId} </if>
        <if test="createTime != null "> and create_time = #{createTime} </if>
        <if test="updateTime != null "> and update_time = #{updateTime} </if>
    </select>

    <select id="selectByInterfaceId" parameterType="Integer" resultMap="ExampleTestMap">
        select * from interface_example_test where api_id = #{interfaceId}
    </select>


    <select id="selectById" parameterType="java.lang.Integer" resultType="com.dozenx.web.module.interfaceapi.exampletest.pojo.ExampleTest">
        select * from interface_example_test
        where id = #{id}
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from interface_example_test where id = #{id}
    </delete>

    <update id="update" >
        update interface_example_test set params = #{params} where id = #{id}
    </update>
</mapper>