
<div id="ComponentList" class="table-responsive">
   <!-- <div class="main-hd ibox-title">| 用户</div>-->


    <div class="main-bd ">
        <div class="body_top " >
            <form class="form-inline app-search">
                    <label for="id">编号</label>
            <input type="number" id="id" name="id"  class="form-control input-sm"  maxlength="15" onkeyup="chkInt(this,8)" onafterpaste="chkInt(this,8)" placeholder="编号"></input>
        <label for="name">名称</label>
            <input type="text" id="nameLike" name="nameLike"  class="form-control input-sm"   maxlength="40" placeholder="名称" ></input>
        <label for="remark">备注</label>
            <input type="text" id="remarkLike" name="remarkLike"  class="form-control input-sm"   maxlength="200" placeholder="备注" ></input>
        <label for="face">图片</label>
            <input type="text" id="faceLike" name="faceLike"  class="form-control input-sm"   maxlength="100" placeholder="图片" ></input>

            <button type="button"  class="btn btn-primary searchBtn">查询</button>
            <button class="btn btn-secondary addBtn" ><i class="fa fa-plus"></i>新增</button>
                <button class="btn btn-secondary copyBtn" ><i class="fa fa-copy"></i>复制</button>
                        <!--<button class="btn btn-primary deleteBtn"><i class="fa fa-plus"></i>删除</button>-->
                        <!--<button class="btn btn-primary exportBtn"><i class="fa fa-plus"></i>导出</button>-->
            </form>


        </div>
        <table id="ComponentGrid" class="grid table"></table>
        <div id="ComponentGrid-Pager" class="pager"></div>
    </div>
</div>
<script>
var componentList={
    modal:false,
    mygrid:null,
    treeObj:null,
    dqData:null,
    root:$("#ComponentList"),

    init:function(){

        setTitle("用户");
        this.mygrid =this.root.find(".grid").jqGrid(this.gridParam);
        this.addEventListener();
        this.loadData();
    },
    loadData:function(){
    },
    addEventListener:function(){
        $(this.root).find(".addBtn").click(this.addInfo.Apply(this));
          $(this.root).find(".editBtn").click(this.editSelectInfo.Apply(this));
        $(this.root).find(".deleteBtn").click(this.multiDelete.Apply(this));
        $(this.root).find(".searchBtn").click(this.searchInfo.Apply(this));
         $(this.root).find(".copyBtn").click(this.copyInfo.Apply(this));
    },
    gridParam:{
        datatype: "json",
        viewrecords: true, sortorder: "desc", caption:"",
        rowNum:10,
        rowList:[10,20,30],
        multiselect : false,
        url : PATH+'/component/list.json',
        autowidth:true,
        grid:"#ComponentGrid",
        pager:"#ComponentGrid-Pager",
        jsonReader:jsonReader,
        colNames : [
        "编号","名称","备注","图片" , '操作' ],
        colModel : [
            {   name : 'id',width : 80,

            } ,
            {   name : 'name',width : 80,

            } ,
            {   name : 'remark',width : 80,

            } ,
            {   name : 'face',width : 80,

            } ,

            {   name : 'operation',
                width : 150,
                formatter : function(value, grid, rows) {
                    return gridHelper.getViewHtml(rows.id,"componentList")+gridHelper.getEditHtml(rows.id,"componentList")+gridHelper.getDelHtml(rows.id,"componentList");
                }
            }
        ],
        onSelectRow: function(id){ //alert("单击选中"+id);
        },
        loadComplete:function(data){
            dqData=data;
        }
    },

    saveInfo:function(){
    },
    addInfo:function (){
        dialog.window('/component/edit.htm',this.modal);
    },
    editSelectInfo:function(){
        var rowid =this.mygrid.jqGrid("getGridParam","selrow");
        var rowData = this.mygrid.jqGrid('getRowData',rowid);
        var id = rowData["id"];
        if(StringUtil.isBlank(id)){
            dialog.alert("请选中一行数据");
        }else{
            dialog.window("/component/edit.htm?id="+id,this.modal);
        }
    },
    editInfo:function (id){
        dialog.window("/component/edit.htm?id="+id,this.modal);
    },
    searchInfo:function (){
        var jso = changeForm2Jso(".app-search");

        this.mygrid.jqGrid("setGridParam", { search: true ,"postData":jso}).trigger("reloadGrid", [{ page: 1}]);  //重载JQGrid
    },
     copyInfo:function (){

var id= this.mygrid.jqGrid('getGridParam','selrow');
if(StringUtil.isBlank(id)){
    dialog.error("请先选中一条数据","",null);
    return;
}
var rowData = this.mygrid.jqGrid('getRowData',id);
var  mygrid =  this.mygrid;

Ajax.getJSON("/component/copy.json?id="+rowData.id,null,function(data){
     if(data.r==AJAX_SUCC){
                 mygrid.jqGrid("setGridParam", { search: true ,"postData":jso}).trigger("reloadGrid", [{ page: 1}]);  //重载JQGrid
            }else{
                dialog.error(data.msg,"导出失败",null);
            }
});

    },
    viewInfo:function (id){
        dialog.window("/component/view.htm?id="+id,this.modal);
    },
    exportInfo:function (){
        var jso= changeForm2Jso(".app-search");
        Ajax.getJSON(PATH+"/component/export.json",jso,function(data){
            if(data.r==AJAX_SUCC){
                window.location=PATH+"/"+data.data;
            }else{
                dialog.error(data.msg,"导出失败",null);
            }
        })
    },
    deleteInfo:function (id){
        var that =this;
         //弹窗
        dialog.confirm("确定删除数据:"+id,function(){
            Ajax.post(PATH+"/component/del.json",{id:id},function(result){
                result=ajaxResultHandler(result);
                if(result.r==AJAX_SUCC){
                    var did=dialog.alert("删除成功，数据："+id,function(index){
                    that.mygrid.trigger("reloadGrid");
                    dialog.close(did);
                });
                }else {
                    dialog.error(result.msg,"提醒");
                }
            });
        });
    },
    multiDelete:function (){
        //获取ids字符串
        var ids=this.mygrid.jqGrid("getGridParam","selarrrow");
        if(ids.length==0){
            dialog.alert("请勾选数据");
            return;
        }
        for(var i=0;i<ids.length;i++){
            var data= this.mygrid.jqGrid("getRowData",ids[i]);
            ids[i]=data["id"];
        }
        //弹窗
        var that=this;
        var dialogid= dialog.confirm("确定删除数据:"+ids.join(","),function(){
            Ajax.post(PATH+"/component/mdel.json?",{ids:ids.join(",")},function(result){
                result=ajaxResultHandler(result);
                if(result.r==AJAX_SUCC){
                    dialogid=dialog.alert("删除成功，数据："+ids.join(","),function(index){
                    that.mygrid.trigger("reloadGrid");
                    dialog.close(dialogid);
                });
                }else {
                    dialog.error(result.msg);
                }
            });
        });
    }
};
componentList.init()
</script>

