 <div class="ibox float-e-margins">
    <form id="componentEditForm" class="form-horizontal" method="post" action="/component/save.json" enctype="multipart/form-data">
        <!--<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">用户编辑</h4>
        </div>-->
        <div class="ibox-content">
                <div class="form-group">
        <label for="id" class="col-sm-2 control-label">编号:</label>
        <div class="col-sm-10">
            <input type="number" id="id" name="id"  class="form-control input-sm"  maxlength="15" onkeyup="chkInt(this,8)" onafterpaste="chkInt(this,8)"></input>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">名称:</label>
        <div class="col-sm-10">
            <input  type="text"  id="name" name="name"  class="form-control input-sm"   maxlength="40"  ></input>
        </div>
    </div>
    <div class="form-group">
        <label for="remark" class="col-sm-2 control-label">备注:</label>
        <div class="col-sm-10">
            <textarea  id="remark" name="remark"  class="form-control input-sm"   maxlength="200"  ></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="face" class="col-sm-2 control-label">图片:</label>
        <div class="col-sm-10">
<input  id="face" name="face"  value="static/img/timg.jpeg" style="display:none" class="form-control input-sm"   maxlength="100"></input>        </div>
    </div>
    <div style="display:none" class="form-group">
        <label for="createtime" class="col-sm-2 control-label">创建时间:</label>
        <div class="input-group date">
            <span class="input-group-addon" for="createtime" ><i class="fa fa-calendar"></i></span>            <input type="text" id="createtime" name="createtime"  class="form-control input-sm"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"  datatype="date" format="yyyy-MM-dd HH:mm:ss"  ></input>
        </div>
    </div>
            <div class="form-group hide">
                <label for="content" class="col-sm-2 control-label">entity:</label>
                <div class="col-sm-10">
                             <textarea  id="entity" name="entity"  class="form-control input-sm"   style="" ></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="content" class="col-sm-2 control-label">entitySource:</label>
                <div class="col-sm-10">
                    <textarea  id="entitySource" name="entitySource"  class="form-control input-sm"   style="" ></textarea>
                </div>
            </div>
            <div class="form-group hide">
                <label for="content" class="col-sm-2 control-label">setting:</label>
                <div class="col-sm-10">
                    <textarea  id="setting" name="setting"  class="form-control input-sm"  style="" ></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="content" class="col-sm-2 control-label">settingSource:</label>
                <div class="col-sm-10">
                    <textarea  id="settingSource" name="settingSource"  class="form-control input-sm"  style="" ></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="content" class="col-sm-2 control-label">html:</label>
                <div class="col-sm-10">
                    <textarea  id="html" name="html"  class="form-control input-sm"  style="" ></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="content" class="col-sm-2 control-label">css:</label>
                <div class="col-sm-10">
                              <textarea  id="css" name="css"  class="form-control input-sm"  style="" ></textarea>
                </div>
            </div>
       <div class="hr-line-dashed"></div>
        <div class="form-group">
           <div class="col-sm-4 col-sm-offset-2">
               <button type="button"  class="btn btn-primary saveBtn">保存</button>
               <button type="button" class="btn btn-white cancelBtn">取消</button>
           </div>
        </div>
        </div>

    </form>
</div><!-- /.modal-content -->
        
    <script type="text/javascript">



    var componentEdit={
        form:null,
        modal:false,
        windowIndex:null,
        formId:"#componentEditForm",
        validParam:{
            rules: {
                       id:{
                digits:true
            },
            name:{
                maxlength:40,required:true
            },
            remark:{
                maxlength:200
            },
            face:{
                maxlength:100
            },
            createtime:{
                ymd:"yyyy-MM-dd HH:mm:ss"
            },

            },
            messages:{
                       id:{
                digits:"必须输入整数"
            },
            name:{
                maxlength:"名称不能多于40个字符"
            },
            remark:{
                maxlength:"备注不能多于200个字符"
            },
            face:{
                maxlength:"图片不能多于100个字符"
            },
            createtime:{
                ymd:"必须输入合法日期"
            },

            }
        },
        addEventListener:function(){
            this.form.find(".saveBtn").click(this.saveInfo.Apply(this));
            this.form.find(".cancelBtn").click(this.cancel.Apply(this));
        },
        init:function(){
            this.windowIndex=dialog.windowIndex;
            this.form=$(this.formId);
            this.addEventListener();
            $("#componentEditForm").validate(this.validParam);
            var imageUtil=new zImageUtil2({"input":"face"});
            var that =this;
/*
        UE.delEditor('js');
         UE.delEditor('css');
        this.js=UE.getEditor('js');
         this.css=UE.getEditor('css');
        this.js.addListener("ready", function () {
            that.loadData();
        });*/
            that.loadData();

        },
        loadData:function(){
            var that =this;
            Ajax.getJSON(PATH+"/component/view.json?id="+getParam("id"),null,function(data){
                if(data.r==AJAX_SUCC){
                    if(data.data.bean){
                        fillJso2Form("#componentEditForm",data.data.bean);
                        $("#face").parent().find("img").attr("src",$("#face").val());

                       //  that.js.setContent(data.data.bean.jsHtml);
                         // that.css.setContent(data.data.bean.cssHtml);
                    }
                }else{
                    dialog.error("获取信息失败"+data.msg,function(index){
                        goPage("component/list.htm");
                        dialog.close(index);
                    });
                }
            });
        },

        saveInfo:function(){
          //  $("#js").val(this.js.getPlainTxt());
         // console.log( $("#js").val());
          //   $("#css").val(this.css.getPlainTxt());
        //var that =this;
            if (!$("#componentEditForm").valid())
                return;
            var jso = changeForm2Jso("#componentEditForm");
            //jso.js= this.js.getPlainTxt();
            //jso.css = this.css.getPlainTxt();

              //jso.jsHtml= this.js.getContent();
           // jso.cssHtml = this.css.getContent();

            var dialogId=dialog.showWait();
            var that=this;
            Ajax.post(PATH+$("#componentEditForm").attr("action"),jso,function(data){
                dialog.hideWait(dialogId);
                if(data.r==0){
                    dialog.alert(data.msg||"保存成功",function(index){
                        //goPage("component/list.htm");

                        if(that.modal){
                            $("#ComponentGrid").jqGrid("reloadGrid");
                        }
                        dialog.close(index);
                        // that.cancel();
                    });
                }else{
                    dialog.error(data.msg);
                }
            },'json');
        },
        cancel:function(){
            if(this.modal){
               // $("#mymodal").modal("toggle");
                dialog.closeWindow(this.windowIndex);
            }else{
                goPage("component/list.htm");
            }
        }
    }
    $(document).ready(function() {
        //获取传入参数
        componentEdit.init();

    });
</script>
