<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dozenx.web.core.auth.dao.SysAuthMapper">




    <resultMap id="SysPermission" type="com.dozenx.web.core.auth.sysPermission.bean.SysPermission">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="pid" jdbcType="INTEGER" property="pid" />
        <result column="pmsn_name" jdbcType="VARCHAR" property="permissionName" />
        <result column="pmsn_code" jdbcType="VARCHAR" property="permissionCode" />
        <result column="pmsn_url" jdbcType="VARCHAR" property="permissionUrl" />
        <result column="order_no" jdbcType="TINYINT" property="orderNo" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <resultMap id="SysRole" type="com.dozenx.web.core.auth.sysRole.bean.SysRole">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
        <result column="orderNo" jdbcType="INTEGER" property="orderNo" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>
   <!-- <select id="selectResourceByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from sys_resource sr where sr.id in (select rid from sys_role_resource where roleid in ( select roleid from sys_user_role where uid =#{userid}))
        union (select * from sys_resource sr1 where sr1.id  in (select rid from sys_user_resource where uid =#{userid}))
    </select>-->

    <select id="selectPermissionByUserId" parameterType="java.lang.Long" resultMap="SysPermission">
        select * from sys_permission sr where sr.id in (select permission_id from sys_role_permission where status!=9 and role_id in ( select role_id from sys_user_role where user_id =#{userid}))
        union (select * from sys_permission sr1 where sr1.id  in (select permission_id from sys_user_permission where user_id =#{userid}))
    </select>

    <select id="selectPermissionByRoleId" parameterType="java.lang.Long" resultMap="SysPermission">
        select * from sys_permission sr where sr.id in (select permission_id from sys_role_permission where role_id  =#{roleid}))
    </select>

    <select id="selectPermissionStrByUserId" parameterType="java.lang.Long" resultType="java.lang.String">
        select pmsn_url from sys_permission sr where sr.id in (select permission_id from sys_role_permission where status!=9 and role_id in ( select role_id from sys_user_role where user_id =#{userid}))
        union (select pmsn_url from sys_permission sr1 where sr1.id  in (select permission_id from sys_user_permission where user_id =#{userid}))
    </select>

    <select id="selectRolesByUserId" parameterType="java.lang.Long" resultMap="SysRole">
        select * from sys_role sr where sr.id in (select role_id from sys_user_role where user_id =#{userid})
    </select>
    <!-- 为什么要倒序排列 因为菜单和 菜单角色分配的界面用的是同一个service接口-->
    <select id="selectSysResourceByUserId" parameterType="java.lang.Long" resultType="com.dozenx.web.core.auth.sysResource.bean.SysResource">
        select * from sys_resource sr where sr.id in (select resource_id from sys_role_resource where status!=9 and role_id in ( select role_id from sys_user_role where user_id =#{userid}))
        order by sr.`order` desc
    </select>

</mapper>
