.phone-header {
box-shadow: 0 2px 5px rgba(0,0,0,.26);
/* position: fixed;*/
top: 0;
left: 0;
right: 0;
z-index: 10;
}

.header, .header-left, .header-right {
height: 60px;
line-height: 60px;
color: #fff;
}
.back-blue {
background: #2C8FFF;
}
.center-text {
text-align: center;
}

.small-text {
font-size: 1.3rem;
}

.left {
float: left;
}
