rop="description"><strong>▼Everything的最大优点，就是相对于龟速的windows搜索而言简直是快到飞起，除了首次打开需要加载之外，后面无论是软件的打开速度和搜索速度，都是飞快，可以最迅速的从几十万文件中找出你想要的。</strong>
</p><p itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_12/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d3835984f4db9705.jpg_e680.jpg" title=""></a></p><h3>5、不只是搜索的&nbsp;
    Listary</h3><p itemprop="description">
    everything简单说一句，重点介绍一下Listary。常年以来Listary经常被用作和everything对比，其实在我看来，Listary并不只是简单用于搜索，而是一款用好之后对效率提升极大的优质软件。</p><p
        itemprop="description"><strong>下载地址：<a href="https://www.listary.com" target="_blank" rel="noreferrer noopener">点这里。</a></strong>
</p><p itemprop="description"><strong>▼下载安装即可，分为普通版和PRO版，普通版免费，我个人觉得普通版足够了。安装好第一次打开会让选择语言。</strong></p><p
        itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_13/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d383eec1c0938178.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼其实三言两语很难说明Listary有多实用，说几项主要功能，最基本的就是搜索，<strong>Listary支持在任意文件夹进行搜索，只要打开软件，无需任何设置，在相关文件夹直接用键盘打出想搜索的关键字即可。最好用的部分在于，搜索中文的时候是不需要打中文的，可以通过打出首字母来搜索到。</strong>
</p><p itemprop="description"><strong>如下图：我直接打出“bm”，即可搜到“不灭”。同时在下方会搜索临近文件夹中满足关键字的文件作为参考</strong></p><p
        itemprop="description"><br></p><p itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_14/"
                                                                    target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d3840ed2ec8a9585.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼这里是快捷打开应用的演示，<strong>Listary支持双击ctrl调出搜索栏，这里的搜索栏是可以直接打开应用的，我在图中通过双击ctrl调出搜索栏，接着打出excel，再按下回车，就可以完成整个打开excel的过程，用时不超过2秒，是其他任何方式都达不到的速度。</strong>
</p><p itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_15/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d3843934ca834420.gif_e680.jpg" title=""></a></p><p
        itemprop="description">▼<strong>并且如果是文件、音乐等，是可以直接通过输入文件的中文缩写找到的，如果是最近经常使用的文件，你又很熟悉文件的名称，直接双击ctrl
    输入即可找出，非常快捷</strong></p><p itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_16/"
                                                         target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d38451cbfcc55172.jpg_e680.jpg" title=""></a></p><p
        itemprop="description"><strong>▼并且支持网络搜索，比如我需要通过百度搜索一个关键字，只需要在前面加上 BD
    ，点击后直接跳转浏览器进入百度搜索，方便极了。其他搜索引擎也支持，只不过前缀不同。</strong></p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_17/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d3846249e0108035.jpg_e680.jpg" title=""></a></p><p
        itemprop="description"><strong>▼并且能将系统的文件管理器拓展到极致，在文件浏览器的任意位置双击左键或单击中键，即可调出菜单，除了收藏的文件夹之外，还可以便捷的查看最近的文件夹和文件，在命令中还有如下多种扩展功能。</strong>
</p><p itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_18/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://am.zdmimg.com/201907/24/5d38469b913701572.png_e680.jpg" title=""></a></p><h3>6、全能又小巧的PDF阅读器&nbsp;
    Sumatra PDF</h3><p itemprop="description">大家看PDF用什么？Adobe Reader？福昕？WPS？</p><p itemprop="description">
    这些都不是很好的选择，我介绍一款比较好的，Sumatra PDF。</p><p itemprop="description"><strong>下载地址：</strong><strong><a
        href="https://www.sumatrapdfreader.org/download-free-pdf-viewer.html" target="_blank" rel="noreferrer noopener">点这里。</a></strong>
</p><p itemprop="description">▼打开pdf文件快速、准确，支持单双页浏览。是不是有点平平无奇？<img alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
                                                                   src="https://res.smzdm.com/images/emotions/23.png"
                                                                   class="face">&nbsp;</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_19/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d384cec8c9928151.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼并不是，因为除了仅有6m的小巧体积之外，最大的特点，就是可以支持mobi、epub的读取，可以直接打开这钟格式的文件</p><p itemprop="description">
    <a href="https://post.smzdm.com/p/a4w0zzd8/pic_20/" target="_blank"><img
            alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
            src="https://am.zdmimg.com/201907/24/5d384d2b519b31403.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼并且打开后的文件会在首页中显示，甚至可以固定在首页的位置，便于查看。</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_21/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d384d1e38314411.jpg_e680.jpg" title=""></a></p><p itemprop="description">
    当然，缺点就是有点丑<img alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/78.png"
                   class="face">&nbsp;。</p><h3>7、最好用的解压软件&nbsp;&nbsp;Bandizip&nbsp;</h3><p itemprop="description">
    不知道大家用什么解压软件，我是已经很多年不用WinRAR了，之前主要是7z。但是对比过之后，发现还是这款更好用。<br></p><p itemprop="description"><strong>下载地址：</strong><a
        href="http://www.bandisoft.com/bandizip/" target="_blank" rel="noreferrer noopener"><strong>点这里。</strong></a>
</p><p itemprop="description">▼打开还是非常简洁的，没有广告。另外，WinRAR全球除了中国版本外也实现了无广告，如果你非要用WinRAR我建议你可以去下个台版<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/23.png" class="face">&nbsp;
</p><p itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_22/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d385674c13e05343.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼基本你能想到的压缩格式都可以支持，包括7z</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_23/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d3856ee71b264148.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">解压速度快，准确率高，基本没有损伤文件的情况，是解压软件的第一选择，非常推荐。还可以与下一款软件配合使用<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/22.png" class="face">&nbsp;。
</p><h3>8、看图软件&nbsp; Honeyview</h3><p itemprop="description">
    这款软件与上面的解压软件同公司出品，也是非常好的选择。之前的帖子中，我推荐了极速看图，因为更符合我的使用习惯，<strong>如果你更适应ACDSee的看图方式，这款软件也绝对不会让你失望。</strong></p><p
        itemprop="description"><strong>下载地址：<a href="http://www.bandisoft.com/honeyview/" target="_blank"
                                               rel="noreferrer noopener">点这里。</a></strong></p><p itemprop="description">
    ▼这款软件的打开速度，要比极速看图更快，并且也同样支持专业格式如NEF、RAW、PSD等。</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_24/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d385b167e8759516.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼并且打开图片时，可以调节实时显示EXIF信息</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_25/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d385b839715b1561.jpg_e680.jpg" title=""></a></p><p
        itemprop="description"><strong>并且配合Bandizip，可以实现多张图片不需解压出来即可连续预览的功能，看照片的时候非常方便<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/22.png" class="face">&nbsp;。</strong>
</p><h3>9、跨平台的思维导图软件&nbsp; &nbsp; &nbsp;幕布</h3><p itemprop="description">
    目前工作中对于思维导图的需求越来越明显，所以一款好用的软件也很关键，这款幕布是我最近在用的。</p><p itemprop="description"><strong>下载地址：</strong><a
        href="https://mubu.com/apps" target="_blank" rel="noreferrer noopener"><strong>点这里。</strong></a></p><p
        itemprop="description">▼这款软件最让我觉得好用的部分在于它几乎是一款全平台的软件（只差Linux），并且支持登录后多终端同步，可以在手机上思考作图，再通过电脑成文</p><p
        itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_26/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d386c9fea1db7023.jpg_e680.jpg" title=""></a></p><p
        itemprop="description"><strong>▼操作也非常简单，新建一个文档，记住两个按键，enter和tab，erter表示下一行，tab表示后一级菜单，输入即可。</strong></p><p
        itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_27/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d386cc2c0c658490.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼输入好后，点击查看思维导入即可输出。输出时可以调整排布方式及外观样式等</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_28/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d386d133cb5d1515.png_e680.jpg" title=""></a></p><p
        itemprop="description">▼并且可以直接输出Freemind，便于导入其他软件</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_29/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d386d7fc4e856591.jpg_e680.jpg" title=""></a></p><h3>10、火绒安全</h3><p
        itemprop="description">怎么保障系统安全，我目前使用的是这款软件。</p><p itemprop="description"><strong>下载地址：</strong><a
        href="https://www.huorong.cn" target="_blank" rel="noreferrer noopener"><strong>点这里。</strong></a></p><p
        itemprop="description">国产良心，我会在后面详细介绍一下，这里不多说了，大家有兴趣可以看下。</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_30/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://am.zdmimg.com/201907/24/5d386df1e39f67632.jpg_e680.jpg" title=""></a></p><p itemprop="description">
    <br></p><h2 id="cl_4"><strong>二、如何高效的使用开始菜单</strong></h2><h3><strong>1、高效的开始菜单是什么样的？<br></strong></h3><h3><strong
        style="color:rgb(51,51,51);font-size:14px;">win10系统之后，感受最大的就是开始菜单的区别，以前只是列表状，新的版本则改成了类似模块的视觉效果。</strong><br>
</h3><p itemprop="description"><strong>▼很多朋友可能都会觉得开始菜单基本没用，因为我们通常看到的开始菜单都是这样的：</strong></p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_31/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d37e4b42089d9281.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">坦白说，我看到上面这种界面时，心里也一样飘过一句话：这特么都是什么？<img alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
                                                                      src="https://res.smzdm.com/images/emotions/57.png"
                                                                      class="face">&nbsp;</p><p itemprop="description">
    ▼因为系统的默认设置，在开始菜单通常都是这些东西，<strong>其实开始菜单用好了是非常能提升效率的，在一定程度上要甚至能高于桌面的方便程度</strong>，只是需要设置。我的开始菜单是这样的：</p><p
        itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_32/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d37e91bb53593227.jpg_e680.jpg" title=""></a></p><p
        itemprop="description"><strong>左侧是默认的程序列表，右侧按区域将&nbsp;
    办公、浏览、娱乐、工具等分别列出，所有图标都对应的自己最常用的软件，在需要时，无需返回桌面，按下“windows键”即可找到并打开，效率非常高<img
            alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/22.png"
            class="face">&nbsp;。</strong></p><h3>2、如何在开始菜单中添加未经过安装的绿色软件</h3><p itemprop="description">
    ▼那应该如何设置呢？首先是取消掉原有的不知道什么玩意的模块，右键点击相应的模块，点“从开始屏幕取消固定”即可取消。</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_33/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d37e7789cd0f2114.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼接着，从左侧的列表中拖到即可。里面图标的大小都是可以设置的，想多放就缩小些。</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_34/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d37e8b3e7adf5077.gif_e680.jpg" title=""></a></p><p
        itemprop="description">▼这个其实很简单，复杂的部分在于，你直接从桌面或者文件夹拖图标，是进不到开始菜单里的。这种情况主要影响的是绿色软件无法进入到这里。这时就需要一定的设置了，<strong>具体的方式是这样：<br></strong>
</p><p itemprop="description"><strong>打开你自己电脑的开始菜单文件夹，一般的位置在&nbsp; &nbsp;&nbsp;</strong></p><p itemprop="description">
    <strong>C:ProgramDataMicrosoftWindowsStart MenuPrograms&nbsp;&nbsp;</strong></p><p itemprop="description">▼<strong>接着找到你想要放到开始菜单里的绿色软件，右键点击并创建快捷方式，接着将快捷方式拷贝到刚才的文件夹中，再打开开始菜单，就可以在左侧的列表中看到该程序的图标了，这时通过拖动就能将这个软件固定到开始菜单了<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/22.png" class="face">&nbsp;。</strong>
</p><p itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_35/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d37eb75d5273528.gif_e680.jpg" title=""></a></p><h3>3、如何备份已经设置好的开始菜单<br>
</h3><p itemprop="description">
    经过上面的设置，我们可以打造出最适合自己使用习惯的开始菜单，虽然是很小的改动，但用熟之后，确实可以很大程度的提升效率。但有时候我们需要重装系统，开始菜单重新再设置一次，是非常费劲的。这时，我们需要一款软件来实现，软件名为：<strong>Backup
    Start Menu Layout</strong></p><p itemprop="description"><strong>下载地址：<a
        href="https://www.sordum.org/10997/backup-start-menu-layout-v1-3/" target="_blank" rel="noreferrer noopener">点这里。</a></strong>
</p><p itemprop="description">▼软件打开后，就是这个界面，第一步，点击红框中的图标，创建条目</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_36/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d37efe6466e71491.jpg_e680.jpg" title=""></a></p><p
        itemprop="description"><strong>▼创建好后，可以改个自己记得住的名字，改好之后选择，点击<a class="seo_link"
                                                                      href="https://www.smzdm.com/fenlei/zhong/"
                                                                      target="_blank">时钟</a>图标即可备份。</strong></p><p
        itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_37/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d37f0121f26e3503.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼备份好后，无论你把开始菜单打得再乱，双击上面的条目即可恢复。</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_38/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d37f069c69961148.jpg_e680.jpg" title=""></a></p><p
        itemprop="description"><strong>不过要注意，这里的备份与恢复，是建立在刚才提到的“开始菜单文件夹”中已经有对应快捷方式的情况，如果没有是无法恢复的。所以建议备份时一方面要将已经设置好的“开始菜单文件夹”也备份一下，并在重装系统后拷贝到原位置；另一方面，也要注意不要移动软件存放的位置，以免空有图标打不开软件<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/22.png" class="face">&nbsp;。</strong>
</p><h2 id="cl_5"><strong>三、如何让WIN10自带的Edge浏览器更好用？</strong></h2><p itemprop="description"><strong>虽然一提浏览器，就有朋友要说了，“chrome最好，天下无敌”<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/23.png" class="face">&nbsp;，但实际的情况是，在我身边认识的人中除了懂一些电脑的朋友，剩下的几乎都在用系统自带的浏览器或者是360、搜狗之类。虽然确实好用，但真实的使用人数却远不及用自带浏览器的朋友，后面我可能会专门写一篇关于chrome插件的文章，不过今天，我们只谈Edge浏览器。</strong>
</p><p itemprop="description">▼想必大家都知道，这么多年，因为ie浏览器的不争气，我们是如何吐槽ie的：</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_39/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d37da4281fc66397.jpg_e680.jpg" title=""></a></p>
<p itemprop="description">痛定思痛后，<a class="seo_link brand-hover" href="https://pinpai.smzdm.com/1461/"
                                   data-brandid="1461" target="_blank" data-mark="微软">微软
    <div class="brand-card-box">

    </div>
</a>终于开发的了全新的Edge浏览器，也就是目前win10自带的默认浏览器。虽然相比主流的chrome、Firefox等还有一些差距，但综合来看，至少已经达到了能用的标准<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/22.png" class="face">&nbsp;。<strong>那如何让Edge浏览器更加好用，和其他浏览器一样，就是安装插件。Edge的插件不算多，但安装简单，也能挑出来几个还不错的，具体看下面推荐。</strong>
</p>
<h3>1、如何安装插件：</h3><p itemprop="description">▼先看下如何安装，我这里介绍一个最简单的方法，就是通过自带浏览器打开扩展商店。</p><p itemprop="description">
    具体的方法就是点击Edge浏览器右上角的三个点，再点击下图红框中的“扩展”，接着在弹出的界面中点击“了解更多扩展”。</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_40/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d37e190b13eb5264.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼这样就可以打开微软商店中的插件部分了</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_41/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://am.zdmimg.com/201907/24/5d37f25dc03793032.jpg_e680.jpg" title=""></a></p><h3>2、去广告插件&nbsp; uBlock
    Origin</h3><p itemprop="description">当然，如果你知道插件名称，直接在微软商店中搜索也可以。这里我推荐几款Edge的插件。</p><p itemprop="description">
    ▼第一个是uBlock Origin，主要用于拦截广告。提到这个大家可以要说AdBlock，但Edge上的AdBlock简直智障，拦截无效而且还动不动卡死。</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_42/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d37f8d263b5d4842.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼拦截前：</p><p itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_43/"
                                                                     target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d37fa13b956f4038.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼拦截后</p><p itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_44/"
                                                                    target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d37fa20b9104882.jpg_e680.jpg" title=""></a></p><p itemprop="description">
    <strong>可以看到对一般的网页拦截效果还是不错的，不过遗憾的是对视频广告拦截基本无效，并且我在Edge上也没有找到任何有效的相关软件</strong><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/46.png" class="face">&nbsp;。<br>
</p><h3>3、翻译插件&nbsp;&nbsp;Translator for Microsoft Edge</h3><p itemprop="description">▼顾名思义就是翻译插件啦<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/23.png" class="face">&nbsp;总体来说还是不错的，支持60多种语言互译
</p><p itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_45/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d38015bf41b24503.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼用ChinaDaily试一下，这是原文</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_46/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d38018b08e311849.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼全页翻译之后，翻译的准确率、效果都还是不错的</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_47/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d3801afbd90c8248.jpg_e680.jpg" title=""></a></p><h2 id="cl_6">4、云收藏夹 Save
    to Pocket</h2><p itemprop="description">▼简单的理解就是云收藏夹</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_48/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d3804ce0ec558467.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼注册之后，可以把收藏的链接保存在云端，实现多设备登陆共享收藏的功能。不过这个插件注册界面加载略慢<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/46.png" class="face">&nbsp;
</p><p itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_49/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d3804c50b6b88900.jpg_e680.jpg" title=""></a></p><h3>5、网页版&nbsp;Office文件编辑器&nbsp;
    &nbsp;Office Online</h3><p itemprop="description">▼这个我个人没装，因为有常规版本了<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/23.png" class="face">&nbsp;
</p><p itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_50/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d38066158ae79999.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼具体的功能就是，可以直接通过浏览器打开&nbsp;
    Word、Excel、Powerpoint等文件，而无需安装完整版的office，配合OneDrive还是非常好用的。</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_51/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d38067dd1c02863.jpg_e680.jpg" title=""></a></p><p itemprop="description">
    <strong>好用的插件大概就是这些，其他的插件要么安装太麻烦（安全性也堪忧），要么使用太复杂</strong>，像油猴这种就不推荐了，强大是强大，但你已经研究油猴了，为什么不直接用chrome？<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/46.png" class="face">&nbsp;
</p><h2 id="cl_7">四、如何保证系统安全</h2><h3>1、卸载掉一切“XX管家”<br></h3><p itemprop="description">其实这个是很多电脑小白的常见状况，就是务必先装一个XX电脑管家<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/57.png" class="face">&nbsp;。这个管家除了每天提醒你开机用了多少秒、显示个破泡泡告诉你电脑占用了多少<a
        class="seo_link" href="https://www.smzdm.com/fenlei/neicun/" target="_blank">内存</a>、假装能帮你修复电脑问题等毫无用处的功能之外，倒是既能拖慢电脑速度又包安装各种全家桶<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/57.png" class="face">&nbsp;。
</p><p itemprop="description">所以我个人的建议，第一步就是先把这些类似的流氓软件都卸载掉<img alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
                                                                src="https://res.smzdm.com/images/emotions/22.png"
                                                                class="face">&nbsp;。</p><h3>2、经常更新漏洞</h3><p
        itemprop="description">时常更新漏洞是系统防御最新的攻击手段和病毒最简单、最有效的方式了。</p><p itemprop="description">这里其实无需什么软件，点击&nbsp;
    设置——更新和安全，保证漏洞始终更新就可以了。同时注意调整一下windows自动更新的情况，避免使用时自动更新系统。</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_52/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d381736972bd4058.jpg_e680.jpg" title=""></a></p><h3>3、火绒安全</h3><p
        itemprop="description">
    那么应该安装什么，我个人推荐火绒安全。其实我电脑之前一直处于“裸奔”状态，但是有一次手滑不小心点到了“打印店病毒”，只能又下软件杀了半天毒，所以后来觉得还是有必要有个把门的<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/23.png" class="face">&nbsp;。
</p><p itemprop="description">下载地址：<a href="https://www.huorong.cn" target="_blank" rel="noreferrer noopener">点这里。</a>个人版免费，企业版免费试用。
</p><p itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_53/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d380b528c25c1893.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">
    ▼相比各种管家，这个软件最大的特点就是安静，就我个人使用看，除了在更新病毒库时会提示一下之外，你几乎是感觉不到这款软件的存在的，而且本身功能就是防护，不杀毒时占用的系统资源也很少，不会因为装上这个软件导致系统变卡。</p><p
        itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_54/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d380b6596f25655.jpg_e680.jpg" title=""></a></p><p itemprop="description">
    ▼除了常规的防护之外，还有一些访问控制的设置，简单举例：通过密码保护+上网时长控制，可以控制孩子每天用电脑上网的时间</p><p itemprop="description"><a
        href="https://post.smzdm.com/p/a4w0zzd8/pic_55/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d380c23475068411.jpg_e680.jpg" title=""></a></p><p
        itemprop="description">▼其他还有一些小功能，这些你不点，软件也不会天天提示你，比如某些管家天天叫你修复漏洞、清理垃圾什么的<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/23.png" class="face">&nbsp;
</p><p itemprop="description"><a href="https://post.smzdm.com/p/a4w0zzd8/pic_56/" target="_blank"><img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
        src="https://qnam.smzdm.com/201907/24/5d380bb10191d7109.jpg_e680.jpg" title=""></a></p><h2 id="cl_8">五、总结</h2><p
        itemprop="description"><strong>我个人在电脑方面无论是配置还是软件，都有比较高的要求，即便一些软件需要适应的过程与时间，但如果足够好用，还是会改变自己的习惯以适应新的方式，最终对效率的提升，也是这么一点一滴得来的<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/22.png" class="face">&nbsp;。</strong>
</p><p itemprop="description"><strong>之前刚写过软件，这篇称得上吐血推荐了<img alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
                                                             src="https://res.smzdm.com/images/emotions/58.png"
                                                             class="face">&nbsp;十款顶尖的神级软件，三类提升效率、保障安全的系统设置，希望对大家有所启发。大家有问题也可以在评论中提出，知道的话我会尽量解答。如果有好的软件，也欢迎在评论中指出，互相学习，共同进步嘛<img
        alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率" src="https://res.smzdm.com/images/emotions/35.png" class="face">&nbsp;。</strong>
</p><p itemprop="description"><strong>谢谢大家，我是普通奶爸，我们下次再见<img alt="值无不言87期：十款软件、三类设置——进一步提升Windows系统下的工作效率"
                                                             src="https://res.smzdm.com/images/emotions/118.png"
                                                             class="face">&nbsp;。</strong></p>
<input type="hidden" id="isDetail">
<input type="hidden" id="channelID" value="11">
<input type="hidden" id="articleIdBang" value="70336192">
<input type="hidden" id="articleID" value="70336192">
<input type="hidden" id="picUrl" value="">
<input type="hidden" id="articleContent" value="">

<!-- 相关利益说明 end -->

<!-- the end -->
<div class="the-end"><img src="https://res.smzdm.com/pc/pc_shequ/dist/img/the-end.png" alt=""></div>

</article>