<div class="post-comment sdk-mask-close" data-parent-id="" data-user-id="001706319">
    <div class="post-comment-mask sdk-mask"></div>
    <div class="post-comment-fixed" role="heading" aria-level="1" aria-label="写评论">
        <div class="post-comment-box">
            <div class="write-comment"><textarea
                    placeholder="IT之家有您参与更精彩！（政治、色情、喷骂、引战、机型喷、水军、广告等违法违规行为将被封号）"></textarea></div>
            <div class="post-comment-footer"><span class="comment-user-info">dozenx</span>
                <div class="post-comment-btn"><span class="pcb-cannel" role="button">取消</span><span class="pcb-post"
                                                                                                    role="button">发送</span>
                </div>
            </div>
        </div>
    </div>
</div>