<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dozenx.web.module.checkin.faceInfo.dao.FaceInfoMapper">
  <resultMap id="BaseResultMap" type="com.dozenx.web.module.checkin.faceInfo.bean.FaceInfo">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="userId" jdbcType="BIGINT" property="userId" />
      <result column="face" jdbcType="VARCHAR" property="face" />
  </resultMap>
  <sql id="Base_Column_List">
    FaceInfo.`id` ,FaceInfo.`userId` ,FaceInfo.`face` 
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FaceInfo
    where FaceInfo.id =   #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from FaceInfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
 <insert id="insert" useGeneratedKeys="true" keyProperty="id"   parameterType="com.dozenx.web.module.checkin.faceInfo.bean.FaceInfo" >

    insert into FaceInfo (  <include refid="Base_Column_List" />)
    values (
#{id,jdbcType=BIGINT}
,#{userId,jdbcType=BIGINT}
,#{face,jdbcType=VARCHAR}
    )
  </insert>
   <insert id="insertSelective" parameterType="com.dozenx.web.module.checkin.faceInfo.bean.FaceInfo" >
    insert into FaceInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >  
           `id`,
        </if>  
        <if test="userId != null" >  
           `userId`,
        </if>  
        <if test="face != null" >  
           `face`,
        </if>  
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >  
          #{id,jdbcType=BIGINT},
        </if>  
        <if test="userId != null" >  
          #{userId,jdbcType=BIGINT},
        </if>  
        <if test="face != null" >  
          #{face,jdbcType=VARCHAR},
        </if>  
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dozenx.web.module.checkin.faceInfo.bean.FaceInfo" >
    update FaceInfo
    <set >
        <if test="id != null" >  
             `id`=#{id,jdbcType=BIGINT},
        </if>  
        <if test="userId != null" >  
             `userId`=#{userId,jdbcType=BIGINT},
        </if>  
        <if test="face != null" >  
             `face`=#{face,jdbcType=VARCHAR},
        </if>  
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dozenx.web.module.checkin.faceInfo.bean.FaceInfo" >
    update FaceInfo
    set 
              `userId`=#{userId,jdbcType=BIGINT},
              `face`=#{face,jdbcType=VARCHAR}
where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="listByParams" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FaceInfo where 1=1
        <if test="id != null and id != '' ">  
           and `id` = #{id}
        </if>  
        <if test="userId != null and userId != '' ">  
           and `userId` = #{userId}
        </if>  
        <if test="face != null and face != '' ">  
           and `face` = #{face}
        </if>  
        <if test="faceLike != null and faceLike != '' ">
             and `face` like "%"#{faceLike}"%"
        </if>   
  </select>
   <select id="listByParams4Page" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FaceInfo

    where 1=1
        <if test="id != null and id != '' ">  
           and FaceInfo.`id` = #{id}
        </if>  
        <if test="userId != null and userId != '' ">  
           and FaceInfo.`userId` = #{userId}
        </if>  
        <if test="face != null and face != '' ">  
           and FaceInfo.`face` = #{face}
        </if>  
        <if test="faceLike != null and faceLike != '' ">  
             and FaceInfo.`face` like "%"#{faceLike}"%"
        </if>   
  </select>
   <select id="countByParams" parameterType="map" resultType="java.lang.Integer">
    select 
    count(1) 
    from FaceInfo where 1=1
        <if test="id != null and id != '' ">  
           and FaceInfo.`id` = #{id}
        </if>  
        <if test="userId != null and userId != '' ">  
           and FaceInfo.`userId` = #{userId}
        </if>  
        <if test="face != null and face != '' ">  
           and FaceInfo.`face` = #{face}
        </if>  
        <if test="faceLike != null and faceLike != '' ">  
             and FaceInfo.`face` like "%"#{faceLike}"%"
        </if>   
  </select>
 <select id="countByOrParams" parameterType="map" resultType="java.lang.Integer">
    select
    count(1)
    from FaceInfo where 1!=1
        <if test="id != null and id != '' ">
           or `id` = #{id}
        </if>
        <if test="userId != null and userId != '' ">
           or `userId` = #{userId}
        </if>
        <if test="face != null and face != '' ">
           or `face` = #{face}
        </if>
  </select>
</mapper>
