@import 'base';
@CHARSET "UTF-8";

.zw-layout {

    text-align:center;
}
.zw-header {
    background-color:rgba(0,160,233,.7);
}
.zw-content {

}
.zw-footer {
    background-color:rgba(0,160,233,.3);
}
.zw-code-box-demo  div[class*="col-"] .zw-gutter-box{
    margin-top:15px;
    height:50px;
    color:white;
    text-align:center;
    line-height:50px;
}
.zw-code-box-demo>div> .zw-layout{

   margin-top:50px;

}

.zw-code-box-demo .app_bt_fl_nav_bar{
    position:relative;
}