@import 'base';
@CHARSET "UTF-8";
@mixin col($size) {
    box-sizing: border-box;
    float: left;
width: $size/24 *100%;
 min-height: $ft-nm;
}

@mixin colheight($size){
 line-height: $ft-nm;


}
$screen-sm-min: 0;
$screen-sm-max: 768px;
$screen-md-min: 768px;
$screen-md-max: 1200px;
$screen-lg-min: 1200px;
$screen-lg-max: 2200px;
$screen-xs-max: 3000px;
.zw-col-1 {
    @include col(1);
}
.zw-col-2 {
    @include col(2);
}
.zw-col-3 {
    @include col(3);
}
.zw-col-4 {
    @include col(4);
}
.zw-col-5 {
    @include col(5);
}
.zw-col-6 {
    @include col(6);
}
.zw-col-7 {
    @include col(7);
}
.zw-col-8 {
    @include col(8);
}
.zw-col-9 {
    @include col(9);
}
.zw-col-10 {
    @include col(10);
}
.zw-col-11 {
    @include col(11);
}
.zw-col-12 {
    @include col(12);
}
.zw-col-13 {
    @include col(13);
}
.zw-col-14 {
    @include col(14);
}
.zw-col-15 {
    @include col(15);
}
.zw-col-16 {
    @include col(16);
}
.zw-col-17 {
    @include col(17);
}
.zw-col-18 {
    @include col(18);
}
.zw-col-19 {
    @include col(19);
}
.zw-col-20 {
    @include col(20);
}
.zw-col-21 {
    @include col(21);
}
.zw-col-22 {
    @include col(22);
}
.zw-col-23 {
    @include col(23);
}
.zw-col-24 {
    @include col(24);
}
@media (max-width: $screen-xs-max) {}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .zw-col-sm-1 {
        @include col(1);
    }
    .zw-col-sm-2 {
        @include col(2);
    }
    .zw-col-sm-3 {
        @include col(3);
    }
    .zw-col-sm-4 {
        @include col(4);
    }
    .zw-col-sm-5 {
        @include col(5);
    }
    .zw-col-sm-6 {
        @include col(6);
    }
    .zw-col-sm-7 {
        @include col(7);
    }
    .zw-col-sm-8 {
        @include col(8);
    }
    .zw-col-sm-9 {
        @include col(9);
    }
    .zw-col-sm-10 {
        @include col(10);
    }
    .zw-col-sm-11 {
        @include col(11);
    }
    .zw-col-sm-12 {
        @include col(12);
    }
    .zw-col-sm-13 {
        @include col(13);
    }
    .zw-col-sm-14 {
        @include col(14);
    }
    .zw-col-sm-15 {
        @include col(15);
    }
    .zw-col-sm-16 {
        @include col(16);
    }
    .zw-col-sm-17 {
        @include col(17);
    }
    .zw-col-sm-18 {
        @include col(18);
    }
    .zw-col-sm-19 {
        @include col(19);
    }
    .zw-col-sm-20 {
        @include col(20);
    }
    .zw-col-sm-21 {
        @include col(21);
    }
    .zw-col-sm-22 {
        @include col(22);
    }
    .zw-col-sm-23 {
        @include col(23);
    }
    .zw-col-sm-24 {
        @include col(24);
    }
}
@media (min-width: $screen-md-min) and (max-width:$screen-md-max) {
    .zw-col-md-1 {
        @include col(1);
    }
    .zw-col-md-2 {
        @include col(2);
    }
    .zw-col-md-3 {
        @include col(3);
    }
    .zw-col-md-4 {
        @include col(4);
    }
    .zw-col-md-5 {
        @include col(5);
    }
    .zw-col-md-6 {
        @include col(6);
    }
    .zw-col-md-7 {
        @include col(7);
    }
    .zw-col-md-8 {
        @include col(8);
    }
    .zw-col-md-9 {
        @include col(9);
    }
    .zw-col-md-10 {
        @include col(10);
    }
    .zw-col-md-11 {
        @include col(11);
    }
    .zw-col-md-12 {
        @include col(12);
    }
    .zw-col-md-13 {
        @include col(13);
    }
    .zw-col-md-14 {
        @include col(14);
    }
    .zw-col-md-15 {
        @include col(15);
    }
    .zw-col-md-16 {
        @include col(16);
    }
    .zw-col-md-17 {
        @include col(17);
    }
    .zw-col-md-18 {
        @include col(18);
    }
    .zw-col-md-19 {
        @include col(19);
    }
    .zw-col-md-20 {
        @include col(20);
    }
    .zw-col-md-21 {
        @include col(21);
    }
    .zw-col-md-22 {
        @include col(22);
    }
    .zw-col-md-23 {
        @include col(23);
    }
    .zw-col-md-24 {
        @include col(24);
    }
}

.w-grid-5 {
     width: calc(100%/5);
 }

 @media screen and (max-width: 60em) and (min-width: 30em){
 .w-grid-4-m {
     width: calc(100%/4);
 }


 }
  .w-grid-4 {
      width: calc(100%/4);
  }
   .w-grid-3 {
       width: calc(100%/3);
   }
  .w-grid-2 {
      width: calc(100%/2);
  }
@media (min-width: $screen-lg-min) {
    .zw-col-lg-1 {
        @include col(1);
    }
    .zw-col-lg-2 {
        @include col(2);
    }
    .zw-col-lg-3 {
        @include col(3);
    }
    .zw-col-lg-4 {
        @include col(4);
    }
    .zw-col-lg-5 {
        @include col(5);
    }
    .zw-col-lg-6 {
        @include col(6);
    }
    .zw-col-lg-7 {
        @include col(7);
    }
    .zw-col-lg-8 {
        @include col(8);
    }
    .zw-col-lg-9 {
        @include col(9);
    }
    .zw-col-lg-10 {
        @include col(10);
    }
    .zw-col-lg-11 {
        @include col(11);
    }
    .zw-col-lg-12 {
        @include col(12);
    }
    .zw-col-lg-13 {
        @include col(13);
    }
    .zw-col-lg-14 {
        @include col(14);
    }
    .zw-col-lg-15 {
        @include col(15);
    }
    .zw-col-lg-16 {
        @include col(16);
    }
    .zw-col-lg-17 {
        @include col(17);
    }
    .zw-col-lg-18 {
        @include col(18);
    }
    .zw-col-lg-19 {
        @include col(19);
    }
    .zw-col-lg-20 {
        @include col(20);
    }
    .zw-col-lg-21 {
        @include col(21);
    }
    .zw-col-lg-22 {
        @include col(22);
    }
    .zw-col-lg-23 {
        @include col(23);
    }
    .zw-col-lg-24 {
        @include col(24);
    }
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.zw-gutter-row {
    padding-left: 15px;
    padding-right: 15px;
}
.example .zw-header {
    background-color: rgba(0, 160, 233, .7);
}
.zw-content {
    background-color: $white;
    /*padding-left:20px;*/
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
}
.zw-footer {
    /**background-color: rgba(0, 160, 233, .3);**/
    /** @include height_size(65px);**/
    flex: 0 0 auto;
}
.example .zw-footer {
            background-color: rgba(0, 160, 233, .3);
             @include height_size(65px);

         }
.zw-layout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    /*overflow: auto;

    background: #ececec;
    */

}
.example .zw-layout{
background: #ececec;
}
.zw-layout.zw-layout-has-sider {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.zw-sider {
    /** background-color: rgba(0, 160, 233, .1);
    background-color: $light-black;
     @include height_size(120px);
    */

    width: 200px;
    flex: 0 0 200px;
}
.example .zw-sider {
  background-color: rgba(0, 160, 233, .1);
 background-color: $light-black;
  @include height_size(120px);
 }
.zw-collapse {
    /* background-color:$lighter-gray;*/
    /* border-radius: 4px;*/
    /*  border: 1px solid $gray;
    border-bottom: 1px solid $gray;*/
}
.zw-collapse-item {
    border-bottom: 1px solid $gray;
    .zw-panel-body {
        padding: 0 5px 0 15px;
    }
    i {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin-right: 15px;
    }
}
.zw-collapse-item .zw-panel-body {
    /*collapse use */
    visibility: hidden;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.zw-collapse-item-active {
    .zw-panel-body {
        visibility: visible;
        height: auto;
    }
    i {
        transform: rotate(90deg);
    }
}
.zw-panel-body {
    font-size: $ft-nm;
    /* padding:5px 15px;*/
    /*display:none;*/
    background-color: $white;
    line-height: $ft-nm*1.5;
    /* @include height_size($ft-nm);


     background-color:$lighter-gray;*/
    padding-bottom: 25px;
    padding-top: 15px;
}
.zw-panel {
    margin-top: 15px;
}
.zw-panel-header {
    @include height_size($ft-nm);
    font-size: $ft-nm;
    /*line-height: 22px;*/
    padding: 8px 0 8px 32px;
    color: rgba(0, 0, 0, .85);
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    @include height_size($ft-nm);
    background-color: $light-gray;
    border-bottom: 1px solid $gray;
}
.zw-panel-header>span {
    display: inline-block;
    width: 90%;
}
.expand-transition {
    transition: all 0.3s ease;
    height: 30px;
    padding: 10px;
    background-color: #eee;
    overflow: hidden;
}
/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.expand-enter,
.expand-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0;
}
.zw-header {
    /* background-color: #89bf04;*/
    /*  padding: 9px 14px 19px;*/
    /* min-width: 775px; */
    width: 100%;
}
.zw-header-wrap {
    line-height: 1;
    font-family: Droid Sans, sans-serif;
    min-width: 760px;
    max-width: 960px;
    margin-left: auto;
    color: white;
    margin-right: auto;
}
.zw-header-title {}
.zw-panel-heading {
    font-size: 20px;
}
li {
    list-style-type: none;
}
body {
    font-size: 20px;
}
.bar-title {
    background-color: green;
}
.zw-row {
    /*border-bottom:1px dashed  gray;*/
    font-size: 20px;
    width: 100%;
}
.panel-title,
.panel-body,
.panel-heading {
    padding: 2px;
}
a {
    cursor: pointer;
}
.zw-panel-title {
    border: 1px solid gray;
    font-size: 100%;
    @include height_size($ft-nm);
    font-size: $ft-nm;
    /*  height:32px; */
    /*  display:inline-block; */
}
.zw-row-title {
    color: $blue;
    /*     display:inline-block */
    font-bold: 12;
    @include height_size($ft-nm);
    /*  height:32px; */
    display: inline-block;
    width: 100%;
}
.zw-row-title-main {
    display: inline-block;
    /* padding: 7px 0 4px;*/
    font-size: 15px;
    text-align: center;
    width: 50px;
    color: white;
}
.zw-row-title-sub {
    display: inline-block;
    padding: 7px 0 4px;
    font-size: 15px;
    text-align: center;
    color: black;
}
.post .zw-row-title-main {
    background-color: #10a54a;
}
.get .zw-row-title-main {
    background-color: #0f6ab4;
}
.put .zw-row-title-main {
    background-color: #ffd20f;
}
.delete .zw-row-title-main {
    background-color: #a41e22;
}
.zw-menu-item-group-list {}
.zw-menu-item-group-title {}
.zw-app-list li {
    padding-left: 15px;
}
.zw-app-list li a{
    display:inline-block;

}
/**app-img-list */
li {
    list-style: none;
}
 .img-upload{
    max-width:50px;
    
 }
 .app-ul{
 padding-top:15px;
 background-color: #eee;

 }
.app-card {
    margin: 0 0 10px;
    padding: 15px 10px;
    background-color: #fff;
    display: flex !important;
    padding: 10px;
    min-height: 50px;
    justify-content:flex-start;
        align-content:stretch;
        align-items:stretch;

    /* min-width:30px;
        max-width:20%;*/
    /*display:table-cell;*/
}
.app-li{


}
.app-li-it{
/*因为子节点是a标签 所以不需要flex布局
只需要a标签再包裹一个 app-card  结构
justify-content:flex-start;
         align-content:stretch;
         align-items:stretch;
          display: flex !important;*/
}

 .app-li-it-pic {
        display: block;
       position: relative;
        min-width: 105px;
        width:105px;

            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 105px;
        /* width:30%;*/
       /* float:left; w图片居左;*/
        max-width: 33.3%;
        /*
              手机上不超过30% 的屏幕
              pc上建议200px;
              max-height: 100px;
                min-height: 100px;*/
        img {
            width: 99%;
            height:100%;
        }
    }
    .app-li-it-content {
        flex: 2;
        /*width:80%;*/
        font-size: 12px;
        position: relative;
        /*margin-left:3%;*/
        padding-left: 15px;
        /*display:table-cell;*/
        vertical-align: middle;
        h1 {
            font-size: 15px !important;
            line-height: 18px;
            /*margin-top: 10px;*/
            font-weight: bold;
        }
        h2 {
            font-size: 12px !important;
            line-height: 14px;
            /*margin-top: 10px;*/
        }
        h3 {
            font-size: 13px !important;
            line-height: 14px;
        }
        h3 {
            font-size: 13px !important;
            line-height: 14px;
            color: gray;
        }
        h4 {
            font-size: 13px !important;
            line-height: 14px;
        }
        h5 {
            font-size: 13px !important;
            line-height: 14px;
            color: red;
        }
        .app-li-it-content-top-corner {
            position: absolute;
            top: 5px;
            font-size: 24px !important;
            font-weight: bold;
            right: 5px;
            color: red;
        }
    }
    .app-li-it-text {
        width: 80%;
        font-size: 12px;

        color: gray;
        display: flex;
        padding-right: 50px;
        overflow: hidden;
        justify-content: space-between;
        .src-net {
            /*display:table-cell;*/
            width: 30%;
        }
        .comment-num {
            /*display:table-cell;*/
            width: 30%;
        }
        .goods-score {
            /*display:table-cell;*/
            width: 30%;
        }
    }
.app-li.pc {
    .app-li-it{
        .app-li-it-content-body{
            h2,h3,h4,h5{
                margin-top: 10px;
                float:left;
                display: inline-block;
            };
        }
        .app-li-it-text {
         position: absolute;
        bottom: 0;
        }
    }
}
.zw-hr {
    color: $gray1;
}
.zw-hr2 {
    color: $gray2;
}


.zw-box{
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    display: inline-block;
    width:90%;
    position: relative;
    margin: 16px 16px 16px 16px;
    -webkit-transition: all .2s;
    transition: all .2s;
    margin-left:30px;
}

.zw-app-box1{
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    display: inline-block;
    width:90%;
    position: relative;
    margin: 10px 4px 0px 4px;
    -webkit-transition: all .2s;
    transition: all .2s;
    
}