<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dozenx.web.module.checkin.checkinLate.dao.CheckinLateMapper">
  <resultMap id="BaseResultMap" type="com.dozenx.web.module.checkin.checkinLate.bean.CheckinLate">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="userId" jdbcType="BIGINT" property="userId" />
      <result column="userName" jdbcType="VARCHAR" property="userName" />
      <result column="checkType" jdbcType="INTEGER" property="checkType" />
      <result column="checkTime" jdbcType="TIMESTAMP" property="checkTime" />
      <result column="kqUserId" jdbcType="BIGINT" property="kqUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    CheckinLate.`id` ,CheckinLate.`userId` ,CheckinLate.`userName` ,CheckinLate.`checkType` ,CheckinLate.`checkTime` ,CheckinLate.`kqUserId` 
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CheckinLate
    where CheckinLate.id =   #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from CheckinLate
    where id = #{id,jdbcType=BIGINT}
  </delete>
 <insert id="insert" useGeneratedKeys="true" keyProperty="id"   parameterType="com.dozenx.web.module.checkin.checkinLate.bean.CheckinLate" >

    insert into CheckinLate (  <include refid="Base_Column_List" />)
    values (
#{id,jdbcType=BIGINT}
,#{userId,jdbcType=BIGINT}
,#{userName,jdbcType=VARCHAR}
,#{checkType,jdbcType=INTEGER}
,#{checkTime,jdbcType=TIMESTAMP}
,#{kqUserId,jdbcType=BIGINT}
    )
  </insert>
   <insert id="insertSelective" parameterType="com.dozenx.web.module.checkin.checkinLate.bean.CheckinLate" >
    insert into CheckinLate
    <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >  
           `id`,
        </if>  
        <if test="userId != null" >  
           `userId`,
        </if>  
        <if test="userName != null" >  
           `userName`,
        </if>  
        <if test="checkType != null" >  
           `checkType`,
        </if>  
        <if test="checkTime != null" >  
           `checkTime`,
        </if>  
        <if test="kqUserId != null" >  
           `kqUserId`,
        </if>  
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >  
          #{id,jdbcType=BIGINT},
        </if>  
        <if test="userId != null" >  
          #{userId,jdbcType=BIGINT},
        </if>  
        <if test="userName != null" >  
          #{userName,jdbcType=VARCHAR},
        </if>  
        <if test="checkType != null" >  
          #{checkType,jdbcType=INTEGER},
        </if>  
        <if test="checkTime != null" >  
          #{checkTime,jdbcType=TIMESTAMP},
        </if>  
        <if test="kqUserId != null" >  
          #{kqUserId,jdbcType=BIGINT},
        </if>  
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dozenx.web.module.checkin.checkinLate.bean.CheckinLate" >
    update CheckinLate
    <set >
        <if test="id != null" >  
             `id`=#{id,jdbcType=BIGINT},
        </if>  
        <if test="userId != null" >  
             `userId`=#{userId,jdbcType=BIGINT},
        </if>  
        <if test="userName != null" >  
             `userName`=#{userName,jdbcType=VARCHAR},
        </if>  
        <if test="checkType != null" >  
             `checkType`=#{checkType,jdbcType=INTEGER},
        </if>  
        <if test="checkTime != null" >  
             `checkTime`=#{checkTime,jdbcType=TIMESTAMP},
        </if>  
        <if test="kqUserId != null" >  
             `kqUserId`=#{kqUserId,jdbcType=BIGINT},
        </if>  
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dozenx.web.module.checkin.checkinLate.bean.CheckinLate" >
    update CheckinLate
    set 
              `userId`=#{userId,jdbcType=BIGINT},
              `userName`=#{userName,jdbcType=VARCHAR},
              `checkType`=#{checkType,jdbcType=INTEGER},
              `checkTime`=#{checkTime,jdbcType=TIMESTAMP},
              `kqUserId`=#{kqUserId,jdbcType=BIGINT}
where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="listByParams" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CheckinLate where 1=1
        <if test="id != null and id != '' ">  
           and `id` = #{id}
        </if>  
        <if test="userId != null and userId != '' ">  
           and `userId` = #{userId}
        </if>  
        <if test="userName != null and userName != '' ">  
           and `userName` = #{userName}
        </if>  
        <if test="userNameLike != null and userNameLike != '' ">
             and `userName` like "%"#{userNameLike}"%"
        </if>   
        <if test="checkType != null and checkType != '' ">  
           and `checkType` = #{checkType}
        </if>  
        <if test="checkTime != null and checkTime != '' ">  
           and `checkTime` = #{checkTime}
        </if>  
        <if test="kqUserId != null and kqUserId != '' ">  
           and `kqUserId` = #{kqUserId}
        </if>

          <if test="checkTimeBegin != null and checkTimeBegin != '' ">
              and `checkTime` &gt;= #{checkTimeBegin}
          </if>

          <if test="checkTimeEnd != null and checkTimeEnd != '' ">
              and `checkTime` &lt;= #{checkTimeEnd}
          </if>
  </select>
   <select id="listByParams4Page" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CheckinLate

    where 1=1
        <if test="id != null and id != '' ">  
           and CheckinLate.`id` = #{id}
        </if>  
        <if test="userId != null and userId != '' ">  
           and CheckinLate.`userId` = #{userId}
        </if>  
        <if test="userName != null and userName != '' ">  
           and CheckinLate.`userName` = #{userName}
        </if>  
        <if test="userNameLike != null and userNameLike != '' ">  
             and CheckinLate.`userName` like "%"#{userNameLike}"%"
        </if>   
        <if test="checkType != null and checkType != '' ">  
           and CheckinLate.`checkType` = #{checkType}
        </if>  
        <if test="checkTime != null and checkTime != '' ">  
           and CheckinLate.`checkTime` = #{checkTime}
        </if>  
        <if test="kqUserId != null and kqUserId != '' ">  
           and CheckinLate.`kqUserId` = #{kqUserId}
        </if>

       <if test="checkTimeBegin != null and checkTimeBegin != '' ">
           and `checkTime` &gt;= #{checkTimeBegin}
       </if>

       <if test="checkTimeEnd != null  ">
           and `checkTime` &lt;= #{checkTimeEnd}
       </if>
       order by id desc
  </select>
   <select id="countByParams" parameterType="map" resultType="java.lang.Integer">
    select 
    count(1) 
    from CheckinLate where 1=1
        <if test="id != null and id != '' ">  
           and CheckinLate.`id` = #{id}
        </if>  
        <if test="userId != null and userId != '' ">  
           and CheckinLate.`userId` = #{userId}
        </if>  
        <if test="userName != null and userName != '' ">  
           and CheckinLate.`userName` = #{userName}
        </if>  
        <if test="userNameLike != null and userNameLike != '' ">  
             and CheckinLate.`userName` like "%"#{userNameLike}"%"
        </if>   
        <if test="checkType != null and checkType != '' ">  
           and CheckinLate.`checkType` = #{checkType}
        </if>  
        <if test="checkTime != null and checkTime != '' ">  
           and CheckinLate.`checkTime` = #{checkTime}
        </if>  
        <if test="kqUserId != null and kqUserId != '' ">  
           and CheckinLate.`kqUserId` = #{kqUserId}
        </if>  
  </select>
 <select id="countByOrParams" parameterType="map" resultType="java.lang.Integer">
    select
    count(1)
    from CheckinLate where 1!=1
        <if test="id != null and id != '' ">
           or `id` = #{id}
        </if>
        <if test="userId != null and userId != '' ">
           or `userId` = #{userId}
        </if>
        <if test="userName != null and userName != '' ">
           or `userName` = #{userName}
        </if>
        <if test="checkType != null and checkType != '' ">
           or `checkType` = #{checkType}
        </if>
        <if test="checkTime != null and checkTime != '' ">
           or `checkTime` = #{checkTime}
        </if>
        <if test="kqUserId != null and kqUserId != '' ">
           or `kqUserId` = #{kqUserId}
        </if>
  </select>
</mapper>
