body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*登录页面配置*/
.loginWrap{
    top:0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background:url(../images/login.jpg) no-repeat 0 0 fixed ;
    background-size:cover;
    position: fixed;
}
.loginWrap .login{
    height: 350px;
    width: 500px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -150px;
    background-color: rgba(46,87,105,0.63);
    padding: 50px 100px;
    border-radius: 15px;
}
.loginWrap .login .verification_code{
background-color: #2baee9;
    float: right;
    text-align: center;
    height: 34px;
    width: 80px;
    border-radius: 17px;
    cursor: default;
}
.loginWrap .title{
    position: relative;
    top: 25%;

    margin-top: -75px;
    text-align: center;
    font-size: 35px;
    color: white;
}
/*加载login和index路由样式*/
.mainRouter{
    height: 100%;
    width: 100%;
}
/*主页面*/
.containerAll{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
/*主页面左侧菜单*/
.containerAll .leftMenu{
    position: fixed;
    width: 210px;
    height: 100%;
}
/*右侧内容区域*/
.rightContainer{
    position: fixed;
    height: 100%;
    right: 0px;
    left:230px;
}
/*内容区域头部*/
.rightContainer .header{
    height:80px;
    background-color: white;
    margin-bottom: 10px;
    margin-left: -20px;
    border-bottom: solid 2px #f1f1e9;
}
.topHeader{
    height: 100%;
    width: 100%;
    vertical-align: middle;
}
.topHeader .title {
    font-size: 25px;
    line-height: 80px;
    margin-left: 20px;
}
.topHeader .panel{
    float: right;
    line-height:80px ;
    margin-right: 20px;
}
.topHeader ul li{
    float: right;
    margin-left: 20px;
}
.topHeader ul li:first-child{
    float: right;
    margin-left: 60px;
}
.rightContainer .menuRouters{
    height: 100%;
    width: 99%;
    margin-right: 20px;
}
/*设备管理页面*/
.deviceMangement{
    width: 100%;
    height: 100%;
}
.deviceMangement table{
    margin-top: 10px;
}
.content{
    height: 500px;
    width: 500px;
    position: absolute;
    margin-left: 340px;
    background-color: #87d068;
}
#components-form-demo-normal-login .login-form {
    max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
    float: right;
}
#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

