.btn {
    display: inline-block;
    padding: 3px 14px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    margin:5px 5px 5px;

}

button {
	border: 1px solid transparent;
/*	height: inherit;*/
	line-height: inherit;
	/*width: 100%;*/
	/*padding: 0;*/
	background: #2580D8;
	color: #ffffff;
	padding: 15px 0;
	border-radius: 2%;
	/*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);*/
	border-radius: 5px;
}
[role="button"] {
    cursor: pointer;
}

button,
input,
select,
textarea {
	font-size: 1.5rem;
	outline: 0;
	/*border-radius: 1%;*/
	border: 1px solid #D4D4D4;
	padding: 0;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}
/**default**/
.btn-default {
    color: rgba(0,0,0,.65);
    background-color: #fff;
    border-color: #d9d9d9;
}
.btn-default.focus,.btn-default:focus {
	color: rgba(0,0,0,.65);
	background-color:#fff;
	border-color:#d9d9d9
}
.btn-default:hover {
	color:#333;
	background-color:#fff;
	border-color:#adadad
}
/**primary**/
.btn-primary {
	color:#fff;
	background-color:#1ab394;
	border-color:#1ab394
}
.btn-primary:hover {
	color:#fff;
	background-color:#aab2b0;
	border-color:#aab2b0
}
.btn-primary:focus {
	color:#fff;
	background-color:#0c8365;
	border-color:#0c8365;
}
/**dashed**/
.btn-dashed {
    color: rgba(0,0,0,.65);
	background-color:#fff;
	border-color:#d9d9d9;
    border-style: dashed ;
}
.btn-dashed:hover {
	color:rgba(0,0,0,.65);
	background-color:#fff;
	border-color:#49a9ee;
}
.btn-dashed:focus {
	color:rgba(0,0,0,.65);
    background-color:#fff;
    border-color:#49a9ee;
}
/**danger**/
.btn-danger {
	color:#f04134;
	background-color:#fff;
	border-color:#d9d9d9;
}
.btn-danger:hover {
	color:#fff;
	background-color:#f04134;
	border-color:#aab2b0
}
.btn-danger:focus {
	color:#fff;
	background-color:#f04134;
	border-color:#0c8365;
}
.circle{
   border-radius: 25px;
   padding:5px 5px;
   width: 30px;
   height: 30px;
}
.zw-btn-large{
    font-size:16px;
    height:34px;
}
.zw-btn-small{
 font-size:12px;
    height:27px;
}
/*.btn-default,.btn-default:hover,.btn-default:focus {
    background-color: #FFF;
    border-color: #000;
    color: #FFFFFF;
}*/

.zw-btn-text{
    margin-left:5px;
    margin-right:5px;
}

.btn[disabled]{
    border-color:#d9d9d9;
    color:rgba(0,0,0,.25);
    background:#f7f7f7;
}

.btn-loading .fa-spinner{
     animation:mymove 2s   linear   infinite;
     -webkit-animation:mymove 2s  linear   infinite; /*Safari and Chrome*/
    /*transition: all 2s;*/

 }


 @keyframes mymove
 {
from{transform:rotate(0)}
to{transform:rotate(360deg)}
 }
