<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dozenx.web.core.auth.sysRole.dao.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.dozenx.web.core.auth.sysRole.bean.SysRole">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="order_no" jdbcType="INTEGER" property="orderNo" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />

    </resultMap>
    <sql id="Base_Column_List">
        sys_role.`id` ,sys_role.`name` ,sys_role.`code` ,sys_role.`remark`,sys_role.`order_no`
        ,sys_role.`status`
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_role
        where sys_role.id =   #{id,jdbcType=BIGINT} and status != 9
    </select>
    <delete id="realDeleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_role
    where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">


        update sys_role set status = 9 where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"   parameterType="com.dozenx.web.core.auth.sysRole.bean.SysRole" >

        insert into sys_role (  <include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=BIGINT}
        ,#{name,jdbcType=VARCHAR}
        ,#{code,jdbcType=VARCHAR}


        ,#{remark,jdbcType=VARCHAR}
        ,#{orderNo,jdbcType=INTEGER}
        ,#{status,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.dozenx.web.core.auth.sysRole.bean.SysRole" >
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                `id`,
            </if>
            <if test="name != null" >
                `name`,
            </if>
            <if test="code != null" >
                `code`,
            </if>


            <if test="remark != null" >
                `remark`,
            </if>
            <if test="orderNo != null" >
                `order_no`,
            </if>
            <if test="orderNo != null" >
                `status`,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null" >
                #{code,jdbcType=VARCHAR},
            </if>

            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                #{orderNo,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dozenx.web.core.auth.sysRole.bean.SysRole" >
        update sys_role
        <set >
            <if test="id != null" >
                `id`=#{id,jdbcType=BIGINT},
            </if>
            <if test="name != null" >
                `name`=#{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null" >
                `code`=#{code,jdbcType=VARCHAR},
            </if>

            <if test="remark != null" >
                `remark`=#{remark,jdbcType=VARCHAR},
            </if>
            <if test="orderNo != null" >
                `order_no`=#{orderNo,jdbcType=INTEGER},
            </if>

        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dozenx.web.core.auth.sysRole.bean.SysRole" >
        update sys_role
        set
        `name`=#{name,jdbcType=VARCHAR},
        `code`=#{code,jdbcType=VARCHAR},


        `remark`=#{remark,jdbcType=VARCHAR},
        `order_no`=#{orderNo,jdbcType=INTEGER},
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="listByParams" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_role where 1=1
        <if test="id != null and id != '' ">
            and `id` = #{id}
        </if>
        <if test="name != null and name != '' ">
            and `name` = #{name}
        </if>
        <if test="nameLike != null and nameLike != '' ">
            and `name` like "%"#{nameLike}"%"
        </if>
        <if test="code != null and code != '' ">
            and `code` = #{code}
        </if>
        <if test="codeLike != null and codeLike != '' ">
            and `code` like "%"#{codeLike}"%"
        </if>

        <if test="remark != null and remark != '' ">
            and `remark` = #{remark}
        </if>
        <if test="remarkLike != null and remarkLike != '' ">
            and `remark` like "%"#{remarkLike}"%"
        </if>
        and status != 9
    </select>
    <select id="listByParams4Page" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_role

        where status!=9
        <if test="id != null and id != '' ">
            and sys_role.`id` = #{id}
        </if>
        <if test="name != null and name != '' ">
            and sys_role.`name` = #{name}
        </if>
        <if test="nameLike != null and nameLike != '' ">
            and sys_role.`name` like "%"#{nameLike}"%"
        </if>
        <if test="code != null and code != '' ">
            and sys_role.`code` = #{code}
        </if>
        <if test="codeLike != null and codeLike != '' ">
            and sys_role.`code` like "%"#{codeLike}"%"
        </if>

        <if test="remark != null and remark != '' ">
            and sys_role.`remark` = #{remark}
        </if>
        <if test="remarkLike != null and remarkLike != '' ">
            and sys_role.`remark` like "%"#{remarkLike}"%"
        </if>

    </select>
    <select id="countByParams" parameterType="map" resultType="java.lang.Integer">
        select
        count(1)
        from sys_role where status != 9
        <if test="id != null and id != '' ">
            and sys_role.`id` = #{id}
        </if>
        <if test="name != null and name != '' ">
            and sys_role.`name` = #{name}
        </if>
        <if test="nameLike != null and nameLike != '' ">
            and sys_role.`name` like "%"#{nameLike}"%"
        </if>
        <if test="code != null and code != '' ">
            and sys_role.`code` = #{code}
        </if>
        <if test="codeLike != null and codeLike != '' ">
            and sys_role.`code` like "%"#{codeLike}"%"
        </if>

        <if test="remark != null and remark != '' ">
            and sys_role.`remark` = #{remark}
        </if>
        <if test="remarkLike != null and remarkLike != '' ">
            and sys_role.`remark` like "%"#{remarkLike}"%"
        </if>

    </select>
    <select id="countByOrParams" parameterType="map" resultType="java.lang.Integer">
        select
        count(1)
        from sys_role where 1!=1
        <if test="id != null and id != '' ">
            or `id` = #{id}
        </if>
        <if test="name != null and name != '' ">
            or `name` = #{name}
        </if>
        <if test="code != null and code != '' ">
            or `code` = #{code}
        </if>

        <if test="remark != null and remark != '' ">
            or `remark` = #{remark}
        </if>
        and status != 9
    </select>


    <select id="listByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_role

        where status != 9 and id in (select role_id from sys_user_role where user_id = #{userId})


    </select>
</mapper>
